In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [2]:
place=pd.read_csv('/home/manav/ML DATA/collegePlace.csv')

In [3]:
place.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1

In [4]:
place.tail(50)

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
2916,21,Male,Information Technology,0,8,0,0,1
2917,21,Male,Electrical,0,8,0,0,1
2918,21,Female,Computer Science,1,8,1,0,1
2919,21,Male,Civil,0,8,0,0,1
2920,22,Male,Electronics And Communication,0,8,0,0,1
2921,23,Male,Information Technology,0,6,0,0,0
2922,23,Male,Computer Science,0,8,0,0,1
2923,22,Male,Electrical,1,6,0,1,0
2924,21,Male,Mechanical,1,7,1,0,0
2925,23,Male,Computer Science,0,7,0,0,0
2926,21,Male,Information Technology,0,8,0,0,1
2927,22,Female,Computer Science,1,8,1,0,1
2928,22,Female,Computer Science,0,6,1,0,0
2929,23,Female,Computer Science,0,6,1,0,0
2930,21,Male,Computer Science,2,8,0,0,1
2931,21,Male,Mechanical,0,6,1,0,0
2932,21,Male,Computer Science,1,7,0,0,0
2933,23,Male,Computer Science,1,8,0,0,1
2934,23,Male,Electrical,1,8,0,0,1
2935,21,Male,Electronics And Communication,0,8,0,0,1
2936,23,Male,Information Technology,0,6,0,0,0
2937,23,Male,Mechanical,0,6,0,0,0
2938,21,Male,Computer Science,0,7,0,1,0
2939,21,Male,Mechanical,0,8,1,0,1
2940,22,Male,Electronics And Communication,0,7,0,0,0
2941,21,Male,Electrical,0,7,0,0,0
2942,23,Male,Mechanical,0,6,1,0,0
2943,23,Male,Electronics And Communication,0,8,0,0,1
2944,23,Male,Information Technology,1,7,0,1,0
2945,21,Male,Computer Science,1,7,0,0,0
2946,23,Male,Information Technology,1,7,1,1,0
2947,22,Male,Computer Science,2,8,0,1,1
2948,21,Male,Electrical,0,7,0,0,0
2949,22,Male,Civil,0,8,0,0,1
2950,23,Female,Computer Science,1,8,1,0,1
2951,21,Male,Computer Science,3,8,0,0,1
2952,23,Male,Mechanical,0,8,1,0,1
2953,22,Male,Electronics And Communication,0,7,0,0,0
2954,23,Female,Computer Science,1,8,0,1,1
2955,22,Male,Information Technology,0,7,0,0,0
2956,22,Male,Computer Science,0,8,0,0,1
2957,22,Male,Electrical,1,6,0,1,0
2958,23,Male,Computer Science,0,6,0,1,0
2959,23,Male,Information Technology,0,7,0,0,0
2960,23,Male,Mechanical,1,7,1,0,0
2961,23,Male,Information Technology,0,7,0,0,0
2962,23,Male,Mechanical,1,7,1,0,0
2963,22,Male,Information Technology,1,7,0,0,0
2964,22,Male,Computer Science,1,7,0,0,0
2965,23,Male,Civil,0,8,0,0,1

In [5]:
place.isnull().sum()

Age                  0
Gender               0
Stream               0
Internships          0
CGPA                 0
Hostel               0
HistoryOfBacklogs    0
PlacedOrNot          0
dtype: int64

In [6]:
place.shape

(2966, 8)

In [7]:
place.drop('Hostel',axis=1,inplace=True)

In [8]:
place.head()

,Age,Gender,Stream,Internships,CGPA,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1
1,21,Female,Computer Science,0,7,1,1
2,22,Female,Information Technology,1,6,0,1
3,21,Male,Information Technology,0,8,1,1
4,22,Male,Mechanical,0,8,0,1

In [9]:
label_encode=LabelEncoder()

In [10]:
place['Stream_encoded'] = label_encode.fit_transform(place['Stream'])
place['Gender_encoded'] = label_encode.fit_transform(place['Gender'])
place.drop('Gender',axis=1,inplace=True)

In [11]:
place.head()

,Age,Stream,Internships,CGPA,HistoryOfBacklogs,PlacedOrNot,Stream_encoded,Gender_encoded
0,22,Electronics And Communication,1,8,1,1,3,1
1,21,Computer Science,0,7,1,1,1,0
2,22,Information Technology,1,6,0,1,4,0
3,21,Information Technology,0,8,1,1,4,1
4,22,Mechanical,0,8,0,1,5,1

In [12]:
place.tail()

,Age,Stream,Internships,CGPA,HistoryOfBacklogs,PlacedOrNot,Stream_encoded,Gender_encoded
2961,23,Information Technology,0,7,0,0,4,1
2962,23,Mechanical,1,7,0,0,5,1
2963,22,Information Technology,1,7,0,0,4,1
2964,22,Computer Science,1,7,0,0,1,1
2965,23,Civil,0,8,0,1,0,1

In [13]:
# 0=civil,1=computarscience,2=electrical,3=ece,4IT,5=mechanical   #1=male,0=female

In [14]:
place.drop('Stream',axis=1,inplace=True)

In [15]:
place.head()

,Age,Internships,CGPA,HistoryOfBacklogs,PlacedOrNot,Stream_encoded,Gender_encoded
0,22,1,8,1,1,3,1
1,21,0,7,1,1,1,0
2,22,1,6,0,1,4,0
3,21,0,8,1,1,4,1
4,22,0,8,0,1,5,1

In [16]:
x=place.drop(columns='PlacedOrNot',axis=1)
y=place['PlacedOrNot']

In [17]:
x.shape

(2966, 6)

In [18]:
y.shape

(2966,)

In [19]:
x.describe

<bound method NDFrame.describe of       Age  Internships  CGPA  HistoryOfBacklogs  Stream_encoded  \
0      22            1     8                  1               3
1      21            0     7                  1               1
2      22            1     6                  0               4
3      21            0     8                  1               4
4      22            0     8                  0               5
...   ...          ...   ...                ...             ...
2961   23            0     7                  0               4
2962   23            1     7                  0               5
2963   22            1     7                  0               4
2964   22            1     7                  0               1
2965   23            0     8                  0               0

      Gender_encoded
0                  1
1                  0
2                  0
3                  1
4                  1
...              ...
2961               1
2962               1
2963               1
2964               1
2965               1

[2966 rows x 6 columns]>

In [20]:
y.describe

<bound method NDFrame.describe of 0       1
1       1
2       1
3       1
4       1
       ..
2961    0
2962    0
2963    0
2964    0
2965    1
Name: PlacedOrNot, Length: 2966, dtype: int64>

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, stratify=y, random_state=1)

In [22]:
print(x.shape, x_train.shape, x_test.shape)

(2966, 6) (2669, 6) (297, 6)

In [23]:
model = LogisticRegression()

In [24]:
model.fit(x_train, y_train)

LogisticRegression()

In [25]:
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [26]:
print('Accuracy on training data : ', training_data_accuracy)

Accuracy on training data :  0.7729486699138254

In [27]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [28]:
print('Accuracy on test data : ', test_data_accuracy)

Accuracy on test data :  0.7609427609427609

In [29]:
from pycaret.classification import *

In [30]:
clf = setup(place, target='PlacedOrNot')

In [31]:
xm=compare_models()

In [37]:
input_data = (22,0,0,0,5,0)


input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
  print('Not Placed')
else:
  print('Placed')

[0]
Not Placed

In [33]:
place.head(10)

,Age,Internships,CGPA,HistoryOfBacklogs,PlacedOrNot,Stream_encoded,Gender_encoded
0,22,1,8,1,1,3,1
1,21,0,7,1,1,1,0
2,22,1,6,0,1,4,0
3,21,0,8,1,1,4,1
4,22,0,8,0,1,5,1
5,22,0,6,0,0,3,1
6,21,0,7,1,0,1,1
7,21,1,7,0,0,4,1
8,21,2,6,0,1,1,1
9,21,1,6,0,0,1,0